body {
  background-color: #EFEFEF;
  font-family: 'Gentium Plus', serif;
  font-size: 1.3;
}

h1 {
  display: none;
}

h2 {
  font-size: 2em;
}

.container-lg {
  background-color: #FFF;
  border: solid 1px #DDD;
  margin: 0 auto;
  max-width: 760px;
  padding: 20px;
}

p {
  margin: 2em 0;
}