body {
  background-color: #EFEFEF;
  font-family: 'Gentium Plus', serif;
  font-size: 1.3em;
}

h1 {
  display: none;
}

h2 {
  font-size: 2em;
}

p {
  margin: 2em 0;
}

img {
  max-width: 70%;
}

.container-lg {
  background-color: #FFF;
  border: solid 1px #DDD;
  margin: 0 auto;
  max-width: 720px;
  padding: 40px;
}


@media screen and (max-width: 1024px) {

  body {
    margin: 0;
  }

  .container-lg {
    margin: 0;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }
}